.input-purple-shadow {
    box-shadow: 0 .3rem 0 .05rem var(--color-purple-shadow);
}

.link-text {
    color: black;
    text-decoration: underline black;
    font-size: 0.9rem;
}

.purple-bttn {
    background-color: var(--color-purple-shadow);
    box-shadow: 0 .3rem 0 .05rem var(--color-purple-dark);
}

.input-reg {
    width: 100%;
}

.register-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: .8rem;
}

.text-register {
    line-height: 1rem;
    text-align: left;
    font-size: .9rem;
    font-weight: 500;
}

.form-block {
    margin-top: 1rem;
}

.supertitle {
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--color-purple-shadow);
    text-shadow: 0 .3rem 0 var(--color-purple-dark);
}