.green-shadow {
    box-shadow: 0 .5rem 0 .05rem var(--color-green-shadow);
}

.title-profile {
    text-align: start;
}

.green-bttn {
    background-color: var(--color-green-shadow);
    box-shadow: 0 .3rem 0 .05rem var(--color-green-dark);
}

.display-btt {
    justify-content: end;
}