.grey-shadow {
    box-shadow: 0 .2rem 0 .05rem var(--color-grey-shadow);
}
.space {
    justify-content: space-between;
}

.division {
    padding-bottom: .3rem;
    border-bottom: solid .1rem var(--color-grey-first);
}

.big-box {
    height: 6.5rem;
    padding-bottom: 4rem;
}