.main-row {
  justify-content: center;
}

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8rem;
  margin: 1rem;
}

.main-input {
  border-radius: .7rem;
  height: 2rem;
  border: none;
  line-height: 2rem;
  outline: none;
  text-indent: .8rem;
}

::placeholder {
  color: var(--color-grey-text);
  padding-left: .4rem;
}

.main-big-bttn {
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 0.8rem;
}

.main-small-bttn {
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 0.6rem;
} 

.check-bttn {
  background-color: var(--color-green-shadow);
  box-shadow: 0 .3rem 0 .05rem var(--color-green-dark);
  margin: 1rem;
}

.elements-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .8rem;
}

.elements-column {
  display: flex;
  flex-direction: column;
}

.span-bold {
  font-weight: 500;
  margin-right: .5rem;
}

.main-card {
  background-color: white;
  border-radius: .9rem;
  padding: 1rem;
  text-align: start;
}

.title-left {
  text-align: start;
}

.small-card {
  display: inline-block;
}

.main-target {
  background-color: white;
  border-radius: .7rem;
  padding: .5rem;
  text-align: start;
  margin: .4rem;
}

.cursor {
  cursor:pointer;
}

.infoMessage {
  border-radius: 1rem;
  border: solid var(--color-purple-dark);
  background-color: var(--color-purple-shadow);
  font-size: .9rem;
  font-weight: 600;
}
/* .logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */